.title {
  font-size: 30px;
}

body {
  background-color: rgb(171, 234, 241);
  align-items: center;
}

.containerBody {
  text-align: center;
  color: black;
}

.interacts {
  padding: 15px;
}
#field-time {
  font-size: 18px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: -10px;
  margin-bottom: 10px;
  border-radius: 20px;
  border: none;

  outline-color: rgb(155, 155, 155);
}

.btn {
  height: 30px;
  width: 50px;
  border-radius: 15px;
  border-color: aqua;
  background-color: aliceblue;
  cursor: pointer;
}

.imgBtn {
  padding-top: 2.7px;
  height: 15px;
  width: 15px;
}

.bottle {
  height: 100px;
  width: 100px;
}

.image-container {
  position: relative;
  display: inline-block;
}

.image-container img {
  display: block;
}

.text-overlay {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hide {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.info-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(72, 70, 70, 0.5); /* Semi-transparent overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.info-box {
  background-color: rgb(247, 247, 247);
  border-radius: 15px;
  border: solid;
  border-color: aqua;
  height: 125px;
  width: 180px;
  padding: 10px;
  position: relative;
}

.text-overlay h4 {
  font-size: 30px;
  color: rgb(47, 116, 236);
  padding-top: 5px;
  padding-left: 2px;
}

.info-reset {
  left: 100%;
  display: inline-flex;
  gap: 95px;
  margin-bottom: 2px;
}

.resetBtn {
  height: 25px;
  width: 40;
  margin-left: 80%;
  border-radius: 15px;
  border-color: aqua;
  background-color: aliceblue;
  text-decoration: solid;
  font-weight: 750;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.info {
  padding-top: 5px;
  margin-left: -74px;
  height: 20px;
  width: 20px;
}

.info:hover {
  opacity: 1;
  pointer-events: auto;
}

.reference {
  font-size: smaller;
}

.info-para {
  font-weight: bold;
}
